/* static/css/style.css */
html, body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    /*grid-template-columns: 1fr 3fr;*/
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

.categories {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.category {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f0f0f0;
}

.product-carousel {
    display: none;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.swiper {
    width: 100%;
    height: auto;
    overflow: visible;
}

.swiper-slide {
    width: auto;
    height: auto;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    width: 400px; /* Увеличено для десктопной версии */
    height: 500px; /* Увеличено для десктопной версии */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    width: 100%;
    height: 300px; /* Увеличено для десктопной версии */
    object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
}

.swiper-button-disabled {
    display: none; /* Скрываем кнопку, когда она отключена */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 100%; /* Изменено с фиксированной ширины на 100% */
        max-width: 250px; /* Добавлено ограничение максимальной ширины */
        height: auto; /* Изменено с фиксированной высоты на auto */
        margin: 0 auto; /* Центрирование карточки */
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper {
        padding: 0 20px; /* Добавлено отступы по бокам для кнопок навигации */
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 20px; /* Уменьшен размер кнопок для мобильной версии */
        height: 20px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 14px; /* Уменьшен размер стрелок */
    }
}

/* Дополнительные стили для обеспечения отзывчивости */
.swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.swiper-slide {
    height: auto;
}
