{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Интернет-магазин{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.css' %}">
    {% endcompress %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
    {% endcompress %}

</head>
<body>
    <header>
        <h1>Наш магазин</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Наш магазин</p>
    </footer>

    <script src="{% static 'js/swiper-bundle.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <div id="specs-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title"></h2>
            <div id="modal-body"></div>
        </div>
    </div>
</body>
</html>
