{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid-container">
    <aside class="categories">
        <h2>Категории</h2>
        <div id="category-list">
            {% for category in categories %}
                <button class="category-btn {% cycle 'odd' 'even' %}" data-id="{{ category.id }}">
                    {{ category.name }}
                </button>
            {% endfor %}
        </div>
    </aside>
    <div id="carousel-container"></div>
</div>
{% endblock %}
