.product-carousel {
    display: block; // Изменено с 'none' на 'block'
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.swiper {
    width: 100%;
    height: auto;
    overflow: visible;
}