.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    width: 100%;
    height: calc(33vh - 20px); // 1/3 высоты экрана минус отступы
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 100%;
        height: 60%;
        object-fit: contain;
    }
    .product-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: auto;
    }

    button {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &.add-to-cart {
            background-color: #4CAF50;
            color: white;

            &:hover {
                background-color: #45a049;
            }
        }

        &.view-specs {
            background-color: #008CBA;
            color: white;

            &:hover {
                background-color: #007B9E;
            }
        }
    }
}

//@media (min-width: 1024px) {
//    .product-card {
//        width: 200%; // Увеличиваем ширину для десктопной версии
//        height: calc(66vh - 20px); // Увеличиваем высоту для десктопной версии
//    }
//}
