@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin: 0 auto;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper {
        padding: 0 20px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 20px;
        height: 20px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .product-card {
        height: calc(25vh - 20px);
    }
}

.swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.swiper-slide {
    height: auto;
}